@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::after, * ::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #264065;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #264065;
  font-size: 16px;
  background-color: white;
  height: 100vh;
  background: url("../img/header6/woman.png") no-repeat 95% bottom/1200px, url("../img/header6/background.png") no-repeat;
}

.btn {
  display: flex;
  width: 120px;
  height: 50px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  background-color: #264065;
  border-radius: 26px;
  color: white;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}
.page > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-bottom: 60px;
}
.main-header__nav-bar__list {
  display: flex;
  gap: 40px;
}
.main-header__nav-bar__list > li:last-child {
  display: flex;
  position: relative;
}
.main-header__nav-bar__list > li:last-child::after {
  content: url("../img/header6/chevron-down.svg");
  position: absolute;
  left: 4ch;
  top: -2px;
}
.main-header__user-options {
  display: flex;
  align-items: center;
  gap: 26px;
}
.main-header__user-options__bag {
  margin-right: 60px;
}
.main-header__user-options__sign-in {
  text-decoration: underline;
}

.hero {
  max-width: 720px;
  position: relative;
}
.hero__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 80px; /* 125% */
  margin-bottom: 26px;
}
.hero__description {
  font-size: 21px;
  color: #909090;
  margin-bottom: 45px;
}
.hero__button-container {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 100px;
}
.hero__button-container__watch-video {
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero__button-container__watch-video::before {
  content: url(../img/header6/Play.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border-radius: 24px;
  box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.2);
}
.hero__services {
  border-radius: 14px;
  display: flex;
  background-color: white;
  max-width: 640px;
  justify-content: space-between;
  padding: 32px;
}
.hero__services__service {
  max-width: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__services__service__icon-container {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 6px;
  background-color: #A9D6CB;
  margin-bottom: 18px;
}
.hero__services__service__icon-container img {
  height: 48px;
  width: 48px;
}
.hero__services__service__number {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 500;
}
.hero__services__service__name {
  text-align: center;
}

.white-rectangle {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: white;
  height: 250px;
  bottom: 0;
}

.cian-rectangle {
  position: absolute;
  z-index: -2;
  width: 36%;
  background-color: #A9D6CB;
  height: 100%;
  right: 0;
  bottom: 0;
}

.opinion-card {
  position: absolute;
  top: 400px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 24px;
  width: 350px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.opinion-card::before {
  content: url(../img/header6/“.svg);
}
.opinion-card__opinion {
  color: #070D15;
  font-size: 16px;
}
.opinion-card__name {
  font-weight: 700;
}

.card-2 {
  top: 650px;
  right: 300px;
}/*# sourceMappingURL=header6.css.map */