$dark-blue:#264065;
$gray: #909090;
$cian: #A9D6CB;
$black: #070D15;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::after,::before{
        box-sizing: border-box;
    }    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $dark-blue;
}
body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: $dark-blue;
    font-size: 16px;
    background-color: white;
    height: 100vh;
    background:url('../img/header6/woman.png') no-repeat 95% bottom/1200px, url('../img/header6/background.png') no-repeat;

    

}
.btn{
    display: flex;
    width: 120px;
    height: 50px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    background-color: #264065;
    border-radius: 26px; 
    color: white;
}
.page{
    max-width: 1440px;
    margin: 0 auto;
    
    &>*{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
    margin-bottom: 60px;
    &__nav-bar{
        &__list{
            display: flex;
            gap: 40px;
            &>li:last-child{
                display: flex;
                    position: relative;
                &::after{
                    
                    
                    content: url('../img/header6/chevron-down.svg');
                    position: absolute;
                    left: 4ch;
                    top: -2px;
                }
            }
        }
    }
    &__user-options{
        display: flex;
        align-items: center;
        gap: 26px;
        &__bag{
            margin-right: 60px;
        }
        &__sign-in{
            text-decoration: underline;
        }
    }
}

.hero{
    max-width: 720px;
    position: relative;
    
    &__title{
        font-size: 55px;
        font-weight: 700;
        line-height: 80px; /* 125% */ 
        margin-bottom: 26px;
    }
    &__description{
        font-size: 21px;
        color: $gray;
        margin-bottom: 45px;
        
    }
    &__button-container{
        display: flex;
        align-items: center;
        gap: 26px;
        margin-bottom: 100px;
        &__watch-video{
            display: flex;
            align-items: center;
            gap: 14px;
            &::before{
                content: url(../img/header6/Play.svg);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                padding: 10px;
                border-radius: 24px;
                box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.20); 
            }
        }
    }
    &__services{
        border-radius: 14px;
        display: flex;
        background-color: white;
        max-width: 640px;
        justify-content: space-between;
        padding: 32px;
        &__service{
            max-width: 130px;
            display: flex;
            align-items: center;
            flex-direction: column;
            &__icon-container{
                display: flex;
                align-items: center;
                border-radius: 48px;
                padding: 6px;
                background-color: $cian;
                margin-bottom: 18px;
                img{
                    height: 48px;
                    width: 48px;
                    
                }
            }
            &__number{
                font-size: 28px;
                margin-bottom: 10px;
                font-weight: 500;
            }
            &__name{
                text-align: center;
            }
        }
        
    }
}
.white-rectangle{
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: white;
    height: 250px;
    bottom: 0;
}
.cian-rectangle{
    position: absolute;
    z-index: -2;
    width: 36%;
    background-color: $cian;
    height: 100%;
    right: 0;
    bottom: 0;
}
.opinion-card{
    position: absolute;
    top: 400px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 24px;
    width: 350px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(8px); 
    &::before{
        content: url(../img/header6/“.svg);
    }
    &__opinion{
        color: $black;
        font-size: 16px;
        
    }
    &__name{
        font-weight: 700;
    }
}
.card-2{
    top: 650px;
    right: 300px;
}