@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  min-width: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}
ul a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #939CAA;
}
@media (min-width: 768px) {
  body {
    color: #939caa;
    line-height: 25px;
  }
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}
h3 {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  color: #495567;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-family: "Space Mono", monospace;
  font-size: 32px;
}
.btn {
  padding: 14px 48px;
  background-color: #fcb72b;
  color: white;
  text-decoration: none;
}
.btn:hover {
  box-sizing: border-box;
  background-color: white;
  outline: 1px solid #fcb72b;
  color: #fcb72b !important;
}

.question {
  background-color: #e5ecf4;
  padding: 32px 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.question span {
  flex: 1;
  font-weight: 700;
  margin-bottom: 16px;
}
.question p {
  display: none;
}
.question label {
  position: relative;
}
.question label:hover {
  cursor: pointer;
}
.question label::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: url("public/img/icons/chevron.svg");
  display: inline-block;
}
.question input {
  display: none;
}
.question input:checked ~ p {
  display: block;
}
.question input:checked ~ label:before {
  content: url("public/img/icons/chevron.svg");
  transform: rotate(180deg);
  display: inline-block;
}

footer .sign-up {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #939caa;
}
footer .sign-up .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  footer .sign-up .container {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  footer .sign-up .container {
    flex-direction: row;
  }
}
footer .sign-up .container h2 {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  footer .sign-up .container h2 {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  footer .sign-up .container h2 {
    margin-bottom: 0;
  }
}
footer .sign-up .container div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer .sign-up .container div img {
  display: block;
  height: 36px;
}
@media (min-width: 768px) {
  footer .sign-up .container div img {
    height: 40px;
  }
}
footer .info {
  background-color: #495567;
  padding-top: 62px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  footer .info .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  footer .info .container > * {
    margin: 0;
  }
}
footer .info figure {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}
footer .info nav {
  margin-bottom: 85px;
}
@media (min-width: 768px) {
  footer .info nav {
    flex: 1;
  }
}
@media (min-width: 768px) {
  footer .info nav ul {
    display: flex;
    gap: 1rem;
  }
}
footer .info nav ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  footer .info nav ul li {
    margin-bottom: 0;
  }
}
footer .info nav ul li a {
  color: #e5ecf4;
}
footer .info aside {
  display: flex;
  gap: 1rem;
  align-items: center;
}
footer .info aside img {
  display: block;
  height: 24px;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-size: 1.57rem;
}
@media (min-width: 768px) {
  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header .container {
    align-items: center;
    gap: 32px;
  }
}
header .container #menu-toggle {
  display: none;
}
header nav {
  position: absolute;
  background-color: #939caa;
  top: 68px;
  height: calc(100vh - 68px);
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}
@media (min-width: 768px) {
  header nav {
    position: relative;
    left: 0;
    top: 0px;
    flex-direction: row;
    height: auto;
    align-items: center;
    background-color: transparent;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    gap: 1rem;
    max-width: none;
  }
}
header nav a {
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  header nav a {
    color: #939caa;
    margin: 0;
    font-size: 1rem;
  }
}
header nav a:last-child {
  text-align: center;
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 1rem;
}
@media (min-width: 768px) {
  header nav a:last-child {
    position: static;
    flex-direction: row;
    width: auto;
    margin-left: auto;
  }
}
header input:checked ~ nav {
  width: 70%;
  left: 0;
  transition: left 1s ease;
}
@media (min-width: 768px) {
  header input:checked ~ nav {
    transition: none;
  }
}
header input:not(:checked) ~ nav {
  left: -100%;
}
@media (min-width: 768px) {
  header input:not(:checked) ~ nav {
    transition: none;
    width: 70%;
    left: 0;
  }
}
header label {
  position: absolute;
}
@media (min-width: 768px) {
  header label {
    display: none;
  }
}
header label:hover {
  cursor: pointer;
}
header figure {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
}
header figure img {
  display: block;
  height: 100%;
}
@media (min-width: 768px) {
  header figure {
    order: -1;
    margin: 0;
  }
}
header input:not(:checked) ~ label::before {
  content: url("public/img/icons/hamburger.svg");
}
header input:checked ~ label::before {
  content: url("public/img/icons/close.svg");
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.home main {
  position: relative;
  margin-top: 68px;
}
.home main .container {
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
  overflow: hidden;
  background: url("public/img/images/home-hero-mobile.jpg") no-repeat center center/cover;
  align-items: center;
  justify-content: center;
}
.home main .container::before {
  content: url("public/img/patterns/right-arrow.svg");
  position: absolute;
  left: -300px;
  bottom: 32px;
}
@media (min-width: 768px) {
  .home main .container::before {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .home main .container::before {
    left: 690px;
    top: 300px;
  }
}
@media (min-width: 1200px) {
  .home main .container::after {
    content: url("public/img/patterns/line.svg");
    position: absolute;
    left: -80px;
    top: 300px;
  }
}
@media (min-width: 768px) {
  .home main .container {
    background: url("public/img/images/home-hero-tablet.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 1200px) {
  .home main .container {
    background: url("public/img/images/home-hero-desktop.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 768px) {
  .home main .container {
    padding-top: 137px;
    padding-bottom: 217px;
  }
}
.home main .container h1 {
  text-align: center;
  color: white;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .home main .container h1 {
    text-align: left;
    max-width: 600px;
  }
}
.home main .container p {
  text-align: center;
  color: white;
  margin-bottom: 34px;
}
@media (min-width: 1200px) {
  .home main .container p {
    margin-left: 6rem;
    text-align: left;
    max-width: 500px;
    text-align: justify;
  }
}
.home main .container a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .home main .container a {
    margin-left: 6rem;
  }
}
.home .steps {
  padding-top: 120px;
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .home .steps .container {
    display: flex;
    gap: 2rem;
  }
}
.home .steps article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
@media (min-width: 1200px) {
  .home .steps article {
    display: flex;
    flex-direction: column !important;
    gap: 1rem !important;
    align-items: start;
  }
}
@media (min-width: 768px) {
  .home .steps article {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 40px;
  }
}
.home .steps article img {
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .home .steps article img {
    text-align: left;
    width: 96px;
  }
}
.home .steps article h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .home .steps article h2 {
    text-align: left;
  }
}
.home .steps article p {
  text-align: center;
}
@media (min-width: 768px) {
  .home .steps article p {
    text-align: left;
    margin-bottom: 0;
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .home .benefits .segundo {
    flex-direction: row-reverse;
  }
}
.home .benefits article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
}
.home .benefits article:first-child:before {
  content: url("public/img/patterns/left-downward-arrow.svg");
  position: absolute;
  left: 1rem;
  bottom: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .home .benefits article:first-child:before {
    left: auto;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .home .benefits article:first-child:before {
    width: 50%;
    top: 200px;
    right: 0;
  }
}
.home .benefits article:nth-child(2):before {
  content: url("public/img/patterns/right-arrow.svg");
  position: absolute;
  left: 0px;
  top: 50px;
  width: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .home .benefits article:nth-child(2):before {
    left: 0;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .home .benefits article:nth-child(2):before {
    width: 30%;
    top: 50px;
    left: 0;
  }
}
.home .benefits article:nth-child(3):before {
  content: url("public/img/patterns/left-downward-arrow.svg");
  position: absolute;
  left: 33%;
  bottom: 60%;
  z-index: 1;
}
@media (min-width: 1200px) {
  .home .benefits article:nth-child(3):before {
    left: 66%;
  }
}
@media (min-width: 1200px) {
  .home .benefits article {
    flex-direction: row;
    gap: 200px;
  }
}
.home .benefits article div {
  display: flex;
  flex-direction: column;
}
.home .benefits article figure {
  position: relative;
  border-radius: 300px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .home .benefits article figure {
    flex-direction: row;
    gap: 200px;
    max-width: 400px;
  }
}
.home .benefits article figure img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 300px;
}
.home .benefits article h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 1200px) {
  .home .benefits article h2 {
    text-align: left;
  }
}
.home .benefits article p {
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 1200px) {
  .home .benefits article p {
    text-align: left;
    max-width: 500px;
  }
}
.home .benefits article a {
  margin-right: auto !important;
  margin-left: auto !important;
}
@media (min-width: 1200px) {
  .home .benefits article a {
    margin-left: 0 !important;
  }
}

.about .h1-container {
  position: relative;
  margin-top: 68px;
  background: url("public/img/images/about-hero-mobile.jpg") no-repeat center center/cover;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .about .h1-container {
    background: url("public/img/images/about-hero-tablet.jpg") no-repeat center center/cover;
  }
}
.about .h1-container h1 {
  height: 100%;
}
@media (min-width: 768px) {
  .about .h1-container h1 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about .h1-container h1 {
    background: url("public/img/images/about-hero-desktop.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 1200px) {
  .about .benefits .segundo {
    flex-direction: row-reverse;
  }
}
.about .benefits article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  overflow: hidden;
}
.about .benefits article:first-child:before {
  content: url("public/img/patterns/left-downward-arrow.svg");
  transform: rotateX(180deg);
  position: absolute;
  left: 1rem;
  bottom: 40%;
  z-index: 1;
}
@media (min-width: 768px) {
  .about .benefits article:first-child:before {
    left: auto;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .about .benefits article:first-child:before {
    width: 50%;
    top: 200px;
    right: 0;
  }
}
.about .benefits article:nth-child(2):before {
  content: url("public/img/patterns/right-arrow.svg");
  position: absolute;
  left: -20%;
  top: 0px;
  width: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .about .benefits article:nth-child(2):before {
    left: 0;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .about .benefits article:nth-child(2):before {
    width: 20%;
    top: 0;
    left: -150px;
  }
}
@media (min-width: 1200px) {
  .about .benefits article {
    flex-direction: row;
    gap: 200px;
  }
}
.about .benefits article div {
  display: flex;
  flex-direction: column;
}
.about .benefits article figure {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .about .benefits article figure {
    flex-direction: row;
    gap: 200px;
    max-width: 400px;
  }
}
.about .benefits article figure img {
  display: block;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 300px;
}
.about .benefits article h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 1200px) {
  .about .benefits article h2 {
    text-align: left;
  }
}
.about .benefits article p {
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 1200px) {
  .about .benefits article p {
    text-align: left;
    max-width: 500px;
  }
}
.about .benefits article a {
  margin-right: auto !important;
  margin-left: auto !important;
}
@media (min-width: 1200px) {
  .about .benefits article a {
    margin-left: 0 !important;
  }
}
.about .values {
  margin-bottom: 120px;
}
@media (min-width: 1200px) {
  .about .values .container {
    display: flex;
    flex-wrap: wrap;
  }
}
.about .values .container h2 {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .about .values .container h2 {
    width: 100%;
    margin-bottom: 64px;
  }
}
.about .values .container article {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  align-items: center;
}
@media (min-width: 1200px) {
  .about .values .container article {
    width: 33%;
  }
}
.about .values .container article figure {
  position: relative;
  width: 200px;
  border-radius: 200px;
  margin-bottom: 32px;
}
.about .values .container article figure::before {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: -1.5rem;
  left: 40%;
  height: 50px;
  width: 50px;
  padding: 0.8rem;
  border-radius: 1.6rem;
  counter-increment: section;
  content: "0" counter(section);
  background-color: #fcb72b;
  font-weight: 800;
}
.about .values .container article figure img {
  display: block;
  border-radius: 200px;
}
.about .faqs {
  margin-bottom: 64px;
}
@media (min-width: 1200px) {
  .about .faqs {
    margin-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .about .faqs .container div {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .about .faqs .container div div {
    flex-direction: column;
    width: 66%;
    gap: 16px;
  }
  .about .faqs .container div div article {
    margin-bottom: 0;
  }
}
.about .faqs .container h2 {
  text-align: center;
  margin-bottom: 48px;
}
.about .faqs .container h3 {
  text-align: center;
  margin-bottom: 32px;
}

.locations .h1-container {
  position: relative;
  margin-top: 68px;
  background: url("public/img/images/careers-location-hero-mobile.jpg") no-repeat center center/cover;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .locations .h1-container {
    background: url("public/img/images/careers-locations-hero-tablet.jpg") no-repeat center center/cover;
  }
}
.locations .h1-container h1 {
  height: 100%;
}
@media (min-width: 768px) {
  .locations .h1-container h1 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .locations .h1-container h1 {
    background: url("public/img/images/careers-locations-hero-desktop.jpg") no-repeat center center/cover;
  }
}
.locations .countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .locations .countries {
    display: none;
  }
}
.locations .countries a {
  text-decoration: none;
  color: #495567;
  padding: 22px 100px;
  background-color: rgba(252, 183, 43, 0.15);
  width: 100%;
}
.locations .listed .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .locations .listed .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .locations .listed .container h2 {
    width: 33%;
    line-height: 42px;
    font-size: 36px;
  }
  .locations .listed .container p {
    max-width: 400px;
  }
}
.locations .listed .container h2 {
  text-align: center;
  margin-bottom: 32px;
}
.locations .listed .container p {
  margin-bottom: 32px;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */