@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* ::after, * ::before {
  box-sizing: border-box;
}

.default-btn, .main-header aside .default-btn, .main-header aside .default-btn-transparent, .default-btn-transparent {
  text-align: center;
  padding: 10px 10px;
  background-color: #FA504D;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.default-btn-transparent {
  background-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body::after {
  content: url("../img/header4/Rectangle(1).png");
  position: absolute;
  width: 44vw;
  right: 0;
  top: 0;
  z-index: -1;
}
body::before {
  position: absolute;
  content: "Artzie.";
  display: block;
  color: var(--White, #FFF);
  font-family: Belgrano;
  font-size: 260px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(90deg);
  right: -230px;
  top: 350px;
  opacity: 0.1;
}

.page {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.main-header {
  display: flex;
  padding-top: 33px;
  padding-bottom: 33px;
  align-items: center;
}
.main-header figure {
  margin: 0;
  margin-right: 50px;
}
.main-header nav {
  width: 100%;
}
.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.main-header nav ul li a {
  text-decoration: none;
  color: #2E2F38;
}
.main-header aside {
  display: flex;
}
.main-header aside .default-btn, .main-header aside .default-btn-transparent {
  width: 140px;
}
.main-header aside .default-btn-transparent {
  background-color: transparent;
  color: white;
  margin-right: 27px;
}

main {
  display: flex;
}

.left-side {
  width: 75%;
}
.left-side h1 {
  position: relative;
  margin-top: 50px;
  margin-bottom: 16px;
  color: var(--Black, #2E2F38);
  font-family: Belgrano;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; /* 133.333% */
}
.left-side h1::before {
  position: absolute;
  left: 3ch;
  content: url(../img/header4/Vector\(4\).svg);
  display: block;
}
.left-side p {
  position: relative;
  margin-bottom: 40px;
  color: var(--Gray, #8E8E8E);
  /* Text/Text 1 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}
.left-side p::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.2ch;
  width: 6ch;
  background: var(--Red, #FA504D);
  top: 2ch;
}
.left-side a {
  display: inline-block;
  width: 240px;
}
.left-side .default-btn-transparent {
  position: relative;
  margin-left: 30px;
  display: inline-flex;
  color: var(--Black, #2E2F38);
  width: -moz-fit-content;
  width: fit-content;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.left-side .default-btn-transparent::after {
  content: url("../img/header4/Arrow.svg");
  position: absolute;
  display: inline-block;
  right: -25px;
  top: 5px;
  color: var(--Black, #2E2F38);
}
.left-side__featured {
  margin-top: 74px;
}
.left-side__featured h2 {
  color: var(--Black, #2E2F38);
  font-family: Belgrano;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.left-side__featured figure {
  display: flex;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.left-side__featured figure img {
  padding: 5px;
  display: block;
  border: 1px solid var(--Gray, #8E8E8E);
  box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.1);
  width: 392px;
  height: 224px;
}

.right-side {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-side__hero-container {
  font-size: 0;
}
.right-side__hero-container img {
  width: 544px;
  height: 528px;
}
.right-side__artist-container {
  position: relative;
  width: 608px;
  padding: 25px;
  background-color: white;
}
.right-side__artist-container span {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.right-side__artist-container span:first-child {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right-side__artist-container__profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.right-side__artist-container__profile > div {
  display: flex;
  justify-content: space-between;
}
.right-side__artist-container__profile > div span {
  display: block;
}
.right-side__artist-container__profile__current-bid {
  display: flex;
  flex-direction: column;
  justify-content: start !important;
}
.right-side__artist-container hr {
  margin-bottom: 25px;
}
.right-side__artist-container .default-btn-transparent {
  color: var(--Red, #FA504D);
}
.right-side__artist-container__buttons {
  display: flex;
}
.right-side__artist-container__buttons a {
  flex: 1;
}
.right-side__numbers {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.right-side__numbers article {
  display: flex;
  align-items: center;
}
.right-side__numbers article span {
  margin-right: 8px;
  color: var(--Red, #FA504D);
  /* Title/Heading 3 */
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.right-side__numbers article p {
  color: var(--White, #FFF);
  /* Text/Text 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=header4.css.map */